.brush-el {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 40;

    width: 100%;
    height: 100%;
    overflow: hidden;

    user-select: none;
    pointer-events: none;

    .brush {
        position: absolute;

        display: none;

        border-radius: 9999px;

        &.active {
            display: block;
        }

        &.paint {
            border: 2px solid $black;
        }

        &.shape {
            background-color: transparent;
            border: none;

            &::after,
            &::before {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                margin: auto;

                background-color: rgba( $black, 0.5 );

                content: "";
            }

            &::before {
                width: 3px;
            }

            &::after {
                height: 3px;
            }
        }

        &.text {
            background-color: transparent;
            border: none;

            > svg {
                position: absolute;
                top: -99999px;
                right: -99999px;
                bottom: -99999px;
                left: -99999px;

                margin: auto;
            }
        }
    }
}

&.brush {

    &,
    * {
        cursor: none !important;
    }
}
