/* required styles */

.leaflet-image-layer,
.leaflet-layer,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-pane,
.leaflet-pane > canvas,
.leaflet-pane > svg,
.leaflet-tile,
.leaflet-tile-container,
.leaflet-zoom-box {
    position: absolute;
    top: 0;
    left: 0;
}

.leaflet-container {
    overflow: hidden;

    font: 12px/1.5 sans-serif;

    background: #DDDDDD;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile {
    -webkit-user-drag: none;

    user-select: none;
}

/* Prevents IE11 from highlighting tiles in blue */

.leaflet-tile::selection {
    background: transparent;
}

.leaflet-tile {
    visibility: hidden;
    filter: inherit;
}

/* Safari renders non-retina tile on retina better with this, but Chrome is worse */

.leaflet-safari .leaflet-tile {
    image-rendering: optimize-contrast;
}

/* marker & overlays interactivity */

.leaflet-image-layer,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-pane > svg path,
.leaflet-tile-container {
    pointer-events: none;
}

/* hack that prevents hw layers "stretching" when loading new tiles */

.leaflet-safari .leaflet-tile-container {
    width: 1600px;
    height: 1600px;

    transform-origin: 0 0;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
    display: block;
}

.leaflet-map-pane svg {
    z-index: 200;
}

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */

.leaflet-overlay-pane svg {
    user-select: none;
}

/* .leaflet-container svg: reset svg max-width decleration shipped in Joomla! (joomla.org) 3.x */

/* .leaflet-container img: map is broken in FF if you have max-width: 100% on tiles */

.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-overlay-pane svg,
.leaflet-container .leaflet-shadow-pane img,
.leaflet-container .leaflet-tile,
.leaflet-container .leaflet-tile-pane img,
.leaflet-container img.leaflet-image-layer {
    max-width: none !important;
    max-height: none !important;
}

.leaflet-container.leaflet-touch-zoom {
    touch-action: pan-x pan-y;
}

.leaflet-container.leaflet-touch-drag {
    touch-action: pinch-zoom;

    /* Fallback for FF which doesn't support pinch-zoom */
    touch-action: none;
}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
    touch-action: none;
}

.leaflet-container a {
    color: #0078A8;
    -webkit-tap-highlight-color: rgba( 51, 181, 229, 0.4 );
}

.leaflet-tile-loaded {
    visibility: inherit;
}

.leaflet-zoom-box {
    z-index: 800;

    box-sizing: border-box;
    width: 0;
    height: 0;

    background: rgba( 255, 255, 255, 0.5 );
    border: 2px dotted #3388FF;
}

.leaflet-pane {
    z-index: 400;
}

.leaflet-tile-pane {
    z-index: 200;
}

.leaflet-overlay-pane {
    z-index: 400;
}

.leaflet-shadow-pane {
    z-index: 500;
}

.leaflet-marker-pane {
    z-index: 600;
}

.leaflet-tooltip-pane {
    z-index: 650;
}

.leaflet-popup-pane {
    z-index: 700;
}

.leaflet-map-pane canvas {
    z-index: 100;
}

.leaflet-vml-shape {
    width: 1px;
    height: 1px;
}

.lvml {
    position: absolute;

    display: inline-block;
    behavior: url( "#default#VML" );
}

/* control positioning */

.leaflet-control {
    position: relative;
    z-index: 800;

    float: left;
    clear: both;

    pointer-events: visiblePainted;

    /* IE 9-10 doesn't have auto */
    pointer-events: auto;
}

.leaflet-control,
.leaflet-popup-pane {
    cursor: auto;
}

.leaflet-bottom,
.leaflet-top {
    position: absolute;
    z-index: 1000;

    pointer-events: none;
}

.leaflet-top {
    top: 0;
}

.leaflet-right {
    right: 0;
}

.leaflet-bottom {
    bottom: 0;
}

.leaflet-left {
    left: 0;
}

.leaflet-right .leaflet-control {
    float: right;
    margin-right: 10px;
}

.leaflet-top .leaflet-control {
    margin-top: 10px;
}

.leaflet-bottom .leaflet-control {
    margin-bottom: 10px;
}

.leaflet-left .leaflet-control {
    margin-left: 10px;
}

/* zoom and fade animations */

.leaflet-fade-anim .leaflet-tile {
    will-change: opacity;
}

/* popup */

.leaflet-popup {
    position: absolute;

    margin-bottom: 20px;

    text-align: center;
}

.leaflet-fade-anim .leaflet-popup {
    opacity: 0;

    transition: opacity 0.2s linear;
}

.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
    opacity: 1;
}

.leaflet-zoom-animated {
    transform-origin: 0 0;
}

.leaflet-zoom-anim .leaflet-zoom-animated {
    transition: transform 0.25s cubic-bezier( 0, 0, 0.25, 1 );

    will-change: transform;
}

.leaflet-pan-anim .leaflet-tile,
.leaflet-zoom-anim .leaflet-tile {
    transition: none;
}

.leaflet-zoom-anim .leaflet-zoom-hide {
    visibility: hidden;
}

/* cursors */

.leaflet-interactive {
    cursor: pointer;
}

.leaflet-grab {
    cursor: grab;
}

.leaflet-crosshair,
.leaflet-crosshair .leaflet-interactive {
    cursor: crosshair;
}

.leaflet-dragging .leaflet-grab,
.leaflet-dragging .leaflet-grab .leaflet-interactive,
.leaflet-dragging .leaflet-marker-draggable {
    cursor: move;
    cursor: grabbing;
}

.leaflet-image-layer.leaflet-interactive,
.leaflet-marker-icon.leaflet-interactive,
.leaflet-pane > svg path.leaflet-interactive,
svg.leaflet-image-layer.leaflet-interactive path {
    pointer-events: visiblePainted;

    /* IE 9-10 doesn't have auto */
    pointer-events: auto;
}

.leaflet-container a.leaflet-active {
    outline: 2px solid #FF0000;
}

/* general toolbar styles */

.leaflet-bar {
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba( 0, 0, 0, 0.65 );
}

.leaflet-bar a,
.leaflet-control-layers-toggle {
    display: block;

    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.leaflet-control-attribution a {
    text-decoration: none;
}

.leaflet-bar a,
.leaflet-bar a:hover {
    display: block;
    width: 26px;
    height: 26px;

    color: #000000;
    line-height: 26px;
    text-align: center;
    text-decoration: none;

    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
}

.leaflet-bar a:hover {
    background-color: #F4F4F4;
}

.leaflet-bar a:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.leaflet-bar a:last-child {
    border-bottom: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.leaflet-bar a.leaflet-disabled {
    color: #BBBBBB;

    background-color: #F4F4F4;
    cursor: default;
}

.leaflet-touch .leaflet-bar a {
    width: 30px;
    height: 30px;

    line-height: 30px;
}

.leaflet-control-attribution a:hover {
    text-decoration: underline;
}

.leaflet-touch .leaflet-bar a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.leaflet-touch .leaflet-bar a:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

/* zoom control */

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    font: bold 18px monospace;
    text-indent: 1px;
}

.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out {
    font-size: 22px;
}

/* layers control */

.leaflet-control-layers {
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba( 0, 0, 0, 0.4 );
}

.leaflet-control-layers-toggle {
    width: 36px;
    height: 36px;

    background-image: url( "images/layers.png" );
}

.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url( "images/layers-2x.png" );
    background-size: 26px 26px;
}

.leaflet-touch .leaflet-control-layers-toggle {
    width: 44px;
    height: 44px;
}

.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
    display: none;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
    position: relative;

    display: block;
}

.leaflet-control-layers-expanded {
    padding: 6px 10px 6px 6px;

    color: #333333;

    background: #FFFFFF;
}

.leaflet-control-layers-scrollbar {
    padding-right: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.leaflet-control-layers-selector {
    position: relative;
    top: 1px;

    margin-top: 2px;
}

.leaflet-control-layers label {
    display: block;
}

.leaflet-control-layers-separator {
    height: 0;
    margin: 5px -10px 5px -6px;

    border-top: 1px solid #DDDDDD;
}

/* Default icon URLs */

.leaflet-default-icon-path {
    background-image: url( "images/marker-icon.png" );
}

.leaflet-control-attribution,
.leaflet-control-scale-line {
    padding: 0 5px;

    color: #333333;
}

/* attribution and scale controls */

.leaflet-container .leaflet-control-attribution {
    margin: 0;

    background: #FFFFFF;
    background: rgba( 255, 255, 255, 0.7 );
}

.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
    font-size: 11px;
}

.leaflet-left .leaflet-control-scale {
    margin-left: 5px;
}

.leaflet-bottom .leaflet-control-scale {
    margin-bottom: 5px;
}

.leaflet-control-scale-line {
    box-sizing: border-box;
    padding: 2px 5px 1px;
    overflow: hidden;

    font-size: 11px;
    line-height: 1.1;
    white-space: nowrap;

    background: #FFFFFF;
    background: rgba( 255, 255, 255, 0.5 );
    border: 2px solid #777777;
    border-top: none;
}

.leaflet-control-scale-line:not( :first-child ) {
    margin-top: -2px;

    border-top: 2px solid #777777;
    border-bottom: none;
}

.leaflet-control-scale-line:not( :first-child ):not( :last-child ) {
    border-bottom: 2px solid #777777;
}

.leaflet-touch .leaflet-bar,
.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers {
    box-shadow: none;
}

.leaflet-touch .leaflet-bar,
.leaflet-touch .leaflet-control-layers {
    background-clip: padding-box;
    border: 2px solid rgba( 0, 0, 0, 0.2 );
}

.leaflet-popup-content-wrapper {
    padding: 1px;

    text-align: left;

    border-radius: 12px;
}

.leaflet-popup-content {
    margin: 13px 19px;

    line-height: 1.4;
}

.leaflet-popup-content p {
    margin: 18px 0;
}

.leaflet-popup-tip-container {
    position: absolute;
    left: 50%;

    width: 40px;
    height: 20px;
    margin-left: -20px;
    overflow: hidden;

    pointer-events: none;
}

.leaflet-popup-tip {
    width: 17px;
    height: 17px;
    margin: -10px auto 0;
    padding: 1px;

    transform: rotate( 45deg );
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    color: #333333;

    background: #FFFFFF;
    box-shadow: 0 3px 14px rgba( 0, 0, 0, 0.4 );
}

.leaflet-container a.leaflet-popup-close-button {
    position: absolute;
    top: 0;
    right: 0;

    width: 18px;
    height: 14px;
    padding: 4px 4px 0 0;

    color: #C3C3C3;
    font: 16px/14px sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    background: transparent;
    border: none;
}

.leaflet-container a.leaflet-popup-close-button:hover {
    color: #999999;
}

.leaflet-popup-scrolled {
    overflow: auto;

    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.leaflet-oldie .leaflet-popup-content-wrapper {
    zoom: 1;
}

.leaflet-oldie .leaflet-popup-tip {
    width: 24px;
    margin: 0 auto;
    // -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
    // filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
}

.leaflet-oldie .leaflet-popup-tip-container {
    margin-top: -1px;
}

.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
    border: 1px solid #999999;
}

/* div icon */

.leaflet-div-icon {
    background: #FFFFFF;
    border: 1px solid #666666;
}

/* Tooltip */

/* Base styles for the element that has a tooltip */

.leaflet-tooltip {
    position: absolute;

    padding: 6px;

    color: #222222;
    white-space: nowrap;

    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.4 );

    user-select: none;
    pointer-events: none;
}

.leaflet-tooltip.leaflet-clickable {
    cursor: pointer;

    pointer-events: auto;
}

.leaflet-tooltip-bottom::before,
.leaflet-tooltip-left::before,
.leaflet-tooltip-right::before,
.leaflet-tooltip-top::before {
    position: absolute;

    background: transparent;
    border: 6px solid transparent;

    content: "";
    pointer-events: none;
}

/* Directions */

.leaflet-tooltip-bottom {
    margin-top: 6px;
}

.leaflet-tooltip-top {
    margin-top: -6px;
}

.leaflet-tooltip-bottom::before,
.leaflet-tooltip-top::before {
    left: 50%;

    margin-left: -6px;
}

.leaflet-tooltip-top::before {
    bottom: 0;

    margin-bottom: -12px;

    border-top-color: #FFFFFF;
}

.leaflet-tooltip-bottom::before {
    top: 0;

    margin-top: -12px;
    margin-left: -6px;

    border-bottom-color: #FFFFFF;
}

.leaflet-tooltip-left {
    margin-left: -6px;
}

.leaflet-tooltip-right {
    margin-left: 6px;
}

.leaflet-tooltip-left::before,
.leaflet-tooltip-right::before {
    top: 50%;

    margin-top: -6px;
}

.leaflet-tooltip-left::before {
    right: 0;

    margin-right: -12px;

    border-left-color: #FFFFFF;
}

.leaflet-tooltip-right::before {
    left: 0;

    margin-left: -12px;

    border-right-color: #FFFFFF;
}
