$white: #FEFEFE;
$black: #010101;

.atlas-fantasia-map {
    position: relative;

    @import "brush/brush";
    @import "leaflet/leaflet";
    @import "map/map";
    @import "overlay/overlay";
    @import "preview/preview";

    * {
        box-sizing: border-box;
    }
}
