.map-el {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;

    background-color: transparent;
}

&.zoom {

    &,
    * {
        cursor: zoom-in;
    }
}

.leaflet-tile {

    > svg {
        position: absolute;
    }
}
