.overlay-el {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 50px;
    overflow: hidden;

    color: $white;
    font-size: 3rem;
    text-shadow: 2px 2px 2px rgba( $black, 0.3 );

    background-color: rgba( #555555, 0.4 );
    opacity: 0;

    transition: opacity 0.3s;

    user-select: none;
    pointer-events: none;

    &.visible {
        opacity: 0.6;
    }
}
