.preview-el {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 30;

    width: 100%;
    height: 100%;
    overflow: hidden;

    opacity: 0.7;

    user-select: none;
    pointer-events: none;
}
